<div class="text-center">
   <h1>投稿ページ</h1>
   <div class="row">
     <div class="col-sm-6 offset-sm-3">
       <body style="background: #dbffed;">
          <%= form_with(model: @bookpost) do |f| %>
          
         
          <div class="mb-3">
            <%= f.label :title, 'おすすめ本のタイトル' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :content, 'レビュー' %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
            <%= f.submit "投稿", class: "btn btn-primary" %>
            <% end %>
        
          <div class="text-bottom">
            <font size="5"  color="white"><p>タイトルは30文字,レビューは200文字以内に収めてください</p></font>
          </div>
       </body>
     </div>
   </div>
</div>
