<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-info bg-info">
    <div class="container-fluid ps-5 pe-5">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <% if logged_in? %>
       <div class="btn-group">
        <ul class="navbar-nav">
        <li class="ms-3"><%= link_to '投稿一覧', bookposts_path,  class: 'nav-link' %></li>
         <li class="ms-3"><%= link_to '投稿ページ', new_bookpost_path,  class: 'nav-link' %></li>
         <li class="ms-3"><%= link_to 'いいね一覧ページ', likes_user_path(@user), class: 'nav-link' %></li>
         <li class="ms-3"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
         
         </ul>
        
         </div>
         <% else %>
           <ul class="navbar-nav">
             <li class="nav-item"><%= link_to '会員登録', signup_path, class: 'nav-link' %></li>
             <li class="nav-item"><%= link_to 'ログイン', bookposts_path, class: 'nav-link' %></li>
           </ul>
         <% end %>
       </div>
     </div>
   </nav>
</header>