<%= yield %>
<div class="text-center">
  <h1>投稿一覧</h1>
<% if logged_in? %>
 <div class="row">
   
    <aside class="col-sm-4">
      <%= form_with(model: @bookpost) do |f| %>
        <div class="mb-3">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary w-100' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'bookposts/bookposts', bookposts: @bookposts %>
    </div>
  </div>
<% else %>
<body class="background-color: #eafff4"></body>
       
    
      
    </div>
  </div>
<% end %>
